.jumbo-home {
    background-image: url('../assets/nick1.jpg');
    object-fit: fill !important;
}

.home-jumbo {
    background-image: url('../assets/cool-blur-abstract-4k-nd.jpg');
    object-fit: fill !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}


.alert-fixed {
    position:fixed !important; 
    top: 20px; 
    left: 25%;
    width: 60%;
    z-index:9999 !important; 
    border-radius:0px
}

.auth-bg {
        background-image: url('../assets/nick.jpg');
        object-fit: fill !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;   
}

.league-image {
    object-fit: fill !important;
    width: 100%;
}